* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
    text-align: center;
}

.full-height {
    height: 100%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}

.space {
    padding-top: 25%;
}
.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer {

    position: center;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    color: #dd121b;
}

.logo-exia {
    margin-left: 20px;
}

.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
}

.new-event {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-event header,
.events header {
    margin-bottom: 20px;
}

.events .event {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.events .event .info {
    color: #aaa;
    font-style: italic;
}

.error,
.success {
    text-align: center;
}

.error {
    border: 1px solid red;
    background-color: #f9b5af;
    color: red;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.success {
    border: 1px solid green;
    background-color: #d1f9da;
    color: green;
}

/* CONTACT FORM */
form label {
    font-weight: normal;
}

textarea {
    resize: vertical;
}

select {
    border: 1px solid #E5E7E9;
    border-radius: 6px;
    outline: none;
}

.label {
    font-weight: normal;
}

.form-group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-color: #CCC;
}

.form-control.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control.error:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

/* Forms Validations */
label.valid {
    display: inline-block;
    text-indent: -9999px;
}

label.error {
    color: #c10000;
    font-size: 0.9em;
    line-height: 18px;
    padding: 5px 0 0;
}

.hide-box {
    display: none !important;
}
